Package: com.dgh0st.preferredrotation
Name: PreferredRotation
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.0.1
Architecture: iphoneos-arm
Description: Forces device to only rotate to preferred orientation.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
